.whole {
    background-color: #f9f9f9;   /* A very light gray shade */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);  /* A soft shadow for depth */
    margin: 20px 0;  /* Adds some margin top and bottom for spacing */
}

.whole h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}



.one:hover, .two:hover {
    background-color: #d1d1d1;  /* Slightly darker gray on hover */
}
*/

.upcoming, .history {
    background-color: #ffffff;   /* White background */
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);  /* Adds a subtle shadow */
}

/* .whole{
    border: 2px solid rgb(53, 44, 44);
    border-radius:10px;
    padding: 30px;
    display: block;
    background-color: white;

}
.whole h3{
    font-size: 25px;
    text-align: start;
    color: rgb(28, 28, 154,0.6);
}
.whole h1{
    font-size: 25px;
    text-align: center;
    color: black

}.one{
text-align: start;
}
.two{
text-align: end;
} */