
.edit_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; 
    max-width: 800px;
    margin: auto;
}

.moi {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    text-align: center;
}

.edit_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.edit_form label {
    font-weight: bold;
    margin-top: 0.5rem; 
    text-align: center; 
}

.edit_form .sign {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signbtn {
    margin-top: 0.5rem; 
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signbtn:hover {
    background-color: #0056b3;
}


@media (min-width: 768px) {
    .edit_div {
        padding: 2rem;
    }

    .moi {
        font-size: 2rem;
    }

    .edit_form label {
        margin-top: 1rem;
        text-align: left; 
    }

    .signbtn {
        margin-top: 1rem;
    }

    .edit_form {
        width: 70%; 
    }
}

@media (min-width: 992px) {
    .edit_form {
        width: 50%;
    }
}
