.booking-display{
    padding: 20px;
    display: block;
    background-color: white;
    border-radius: 5px;

}
.booking-display h3{
    align-items: center;
    fl

}
.passenger{

}
.date{

}
.location{

}